.globalheader
  .header
    .header_container
      .header-left
        %p.header-left__logo 
        = link_to  'StudySpace','/', class: "header__title--text"
        %ul.header-left__serach
          %li.header-left__search__box
            %input.login-input-text{name:"search", placeholder: "わからない事を検索してね", type: "search",value:""}/
            %i.fa.fa-search
      .header-right
        %a.header-right__stock
          -if user_signed_in?
            %span.fa.fa-folder-open
            %span.header-right__stock--label ストック一覧
        %a.header-right__post 
          - if user_signed_in?
            %span.fa.fa-edit
            = link_to "投稿する", '/posts/new', class: "header__right--btn"
        .u-relative            
          .header-right__loginUser
            #nav-drawer
              %input#nav-input.nav-unshown{type:"checkbox"}/
              %label#nav-open{for:"nav-input"}
                %span
              %label#nav-close.nav-unshown{for: "nav-input"}
              #nav-content
                = link_to "ログアウト", destroy_user_session_path, method: :delete 
                = link_to "ログイン", new_user_session_path, class: "header__right--login"
                = link_to "新規登録", new_user_registration_path, class: "header-right__registration"
                = link_to "アカウント",  user_path(current_user), class: "header-right__account"
