.body
  .header
  .publicEditer
    .div
      .editor-form
        .editor-content
        = form_with model: @post, class: :form, local: true do |form|
          .editorTitle
            = form.text_field :title, placeholder: :タイトル, class: :form__title 
          .editorTag
            .editorTag-text
              .textoverlay
              =form.text_field :tag, placeholder: :関連する教科のタグをつけてね, class: :form__tag
          .editorBody
            .editorBody-content
              .editorBody-picture
                .editorBody-imagePicture
                = form.file_field :image, class: :form__control do
                  = icon("fas", "fa-picture-o", class: "icon")
            .editorBody-text
              .editorBody-text-content
                = form.text_area :content, placeholder: :ブログ本文, class: :form__text
                = form.submit '投稿する', class: :form__btn

                