.postTitle
  = @post.title
.postTag 
  = @post.tag
.postImage
  = image_tag @post.image.url, class: 'lower-message__image' if @post.image.present?
.postEeit
  = link_to '編集', edit_post_path(@post.id), class: "postManage__edit"
  = link_to '削除', post_path(@post.id), method: :delete, class: "postManage__delete"
.postContent
  = simple_format @post.content